*.o
*.out
*.exe

/build/
/bin/
/out/

/doc/
/docs/

*~
.vscode/
.idea/
*.suo
*.user
*.sdf

*.log
*.swp

*.suo
*.user
*.sln.docstates

.DS_Store

core
core.*

.vscode/settings.json

CMakeFiles/
CMakeCache.txt
CMakeScripts/
CMakeScripts/Testing/

/Debug/
Release/
x64/
x86/
